@model IEnumerable<Abc.MvcWebUI.Entity.Category>

@{
    var selectedCategory = Url.RequestContext.RouteData.Values["Id"];
}



<div class="list-group">
    <a href="/Home/List" class="list-group-item list-group-item-action">
        <i class="far fa-arrow-alt-circle-right"></i>
        All Categories
    </a>
    @foreach (var item in Model)
    {
        if (selectedCategory!=null)
        {
            if (item.Id==int.Parse(selectedCategory.ToString()))
            {
                <a href="/Home/List/@item.Id" class="list-group-item list-group-item-action active">
                    <i class="far fa-arrow-alt-circle-right"></i>
                    @item.Name
                </a> 
            }
            else
            {
                <a href="/Home/List/@item.Id" class="list-group-item list-group-item-action">
                    <i class="far fa-arrow-alt-circle-right"></i>
                    @item.Name
                </a>
            }
        }
        else
        {
            
        
        <a href="/Home/List/@item.Id" class="list-group-item list-group-item-action">
            <i class="far fa-arrow-alt-circle-right"></i>
            @item.Name
        </a>

        }
    }
</div>  